* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #1C1C1C;
}

.main {
    background: #1F2937;
    width: 550px;
    margin: 0 auto;
    padding: 115px 52px;
}

.main_header {
    width: 350px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff;
    padding-bottom: 10px;
}

.main_header_highlight {
    font-family: 'Karla', sans-serif;
    color: #4ADF86;
}

.main_description {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #D5D4D8;
    margin-bottom: 51px;
}

.main_btn {
    padding: 9px 15px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background: #10B981;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    margin-bottom: 35px;
}

.main_btn:hover {
    background: #0E956A;
}

.main_btn:active {
    background: #0B7A53;
}

hr {
    border: 1px solid #2F3E53;
    margin-bottom: 35px;
}

.passwords {
    display: flex;
    justify-content: space-between;
}

.password {
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background: #273549;
    padding-top: 3px;
    position: relative;

    color: #55F991;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px; /* 200% */
    cursor: pointer;
}

.password:hover {
    background: #1A223e;
    
}

.password:active {
    background: #1A222E;
}
  
.tooltiptext {
visibility: hidden;
width: 120px;
background: #10B981;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
top: 100%;
left: 50%;
margin-left: -60px;
}

.password:hover .tooltiptext {
visibility: visible;
}